/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
/* Make cards full width and stack on small screens */
/* @media (max-width: 768px) {
  .leads-list.row.container {
    flex-direction: column !important;
    display: flex !important;
  }
  .leads-list .col-md-4 {
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .card.lead-item {
    margin: 1rem 0 !important;
  }
  .main-layout {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
} */

/* @media (max-width: 768px) {
  .col-2.p-0 {
    display: none;
  }
  .main-layout {
    padding-left: 2px;
    width: 100vw !important;
  }
} */

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    width: 220px;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .main-layout {
    margin-left: 0;
    width: 100%;
  }
}
